on early-boot
    #boot into recovery
    exec /sbin/bootrec

on early-init
    # Add qualcomm devices
    device /dev/hw3d 0660 system graphics
    device /dev/kgsl 0666 system graphics
    device /dev/msm_rotator 0660 system graphics
    device /dev/pmem_gpu* 0666 system graphics
    device /dev/msm_pcm_dec* 0666 system audio
    device /dev/snd/controlC0* 0666 system audio
    device /dev/msm_aac* 0660 system audio
    device /dev/amrnb* 0660 system audio
    device /dev/amrwb* 0660 system audio
    device /dev/msm_qcelp* 0660 system audio
    device /dev/evrc* 0660 system audion
    device /dev/msm_voicememo* 0660 system audio
    mkdir /dev/socket/sensors 0777 system system
    #radio Fix
    chown radio system /dev/oncrpc/30000016:d6bb93e6
    chown radio system /dev/oncrpc/30000000:fd767954
    chown radio system /dev/oncrpc/30000019:821a1945
    chown radio system /dev/oncrpc/3000003c:beb78360
    chown radio system /dev/oncrpc/30000003:d03123cc
    chown radio system /dev/oncrpc/3000000e:00040000
    chown radio system /dev/oncrpc/30000012:00010000

on property:dev.bootcomplete=1
	stop dhcp-service
	start dhcp-service

on property:init.svc.bluetoothd=running
    write /sys/devices/virtual/bluetooth/hci0/link_supervision_timeout 6400
    write /sys/devices/virtual/bluetooth/hci0/idle_timeout 7000

on boot
    chown bluetooth bluetooth /sys/module/bluetooth_power/parameters/power
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /proc/bluetooth/sleep/proto
    chown system system /sys/module/sco/parameters/disable_esco
    chmod 0660 /sys/module/bluetooth_power/parameters/power
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /proc/bluetooth/sleep/proto
    chown bluetooth bluetooth /dev/ttyHS0
    chmod 0660 /dev/ttyHS0
    chown system system /sys/bus/platform/devices/msm_sdcc.1/polling
    # USB Function framework
    #chown system system /sys/devices/platform/msm_hsusb_periphera/composition
    # USB Gadget framework
    chown system system /sys/devices/platform/android_usb/composition
    
    #WIFI
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp
    # give system access to wpa_supplicant.conf for backup and restore
    chmod 0660 /data/misc/wifi/wpa_supplicant.conf
    chown wifi wifi /data/misc/wifi
    chmod 0771 /data/misc/wifi
    
    chown system system /sys/class/power_supply/battery/disable_charging
    chown system system /sys/devices/platform/i2c-adapter/i2c-0/0-0036/br::suspend
    chown system system /sys/devices/platform/i2c-adapter/i2c-0/0-0036/mode
    chown system system /sys/devices/platform/mddi_hitachi_qvga/power_ctrl
    chown system system /sys/devices/platform/mddi_samsung_qvga/power_ctrl
    chown system system /sys/devices/platform/mddi_toshiba_hvga/power_ctrl
    chown system system /sys/devices/platform/mddi_hitachi_hvga/power_ctrl
    chown system system /sys/devices/platform/msm_pmic_misc_led.0/control::mode
    chown root system /proc/sysrq-trigger

    chmod 0220 /proc/sysrq-trigger
    chown system system /dev/seport_control
    chmod 0660 /dev/seport_control
    chown system system /dev/seport_plg_det
    chmod 0660 /dev/seport_plg_det
    chown system system /dev/seport_btn_det
    chmod 0660 /dev/seport_btn_det

# needed for sensors HAL:
    mkdir /etc/sensors 0777 

# Use interrupt to detect sd card insertion and removal
    write /sys/bus/platform/drivers/msm_sdcc/msm_sdcc.1/polling 0

# insert SDIO-driver used by wifi. This is _not_ the default SDIO driver
# included in the kernel.
#    insmod /system/lib/modules/sdio.ko

# insert kernel module for mddi fix
    insmod /system/lib/modules/x8mddi.ko

# Froyo's app2sd kernel modules
    insmod /system/lib/modules/dm-mod.ko
    insmod /system/lib/modules/dm-crypt.ko
    insmod /system/lib/modules/twofish_common.ko
    insmod /system/lib/modules/twofish.ko

service dhcp-service /system/bin/netcfg eth0 dhcp
	oneshot

# Enabled port-bridge for 'eng' builds
service qmuxd /system/bin/qmuxd &

service qcom-sh /system/bin/sh /init.delta.sh
    user root
    oneshot

# Copy calibration data from NV to kernel drivers
service nvimport /system/bin/nvimport
    user root
    oneshot

service hciattach /system/bin/hciattach -n /dev/ttyHS0 texas_new 3000000
    user root
    # changing user to root from bluetooth is a potential security issue
    # service hciattach_legacy is used instead of hciattach because, we dont
    # have nodes named ttyHS0
    group bluetooth net_bt_admin misc
    disabled
    oneshot

service akmd /system/bin/akmd2
    user compass
    group compass misc input system

service semc_chargalg /system/bin/semc_chargalg

service hw_config /system/bin/sh /system/etc/hw_config.sh
    user root
    oneshot

service hciattach_legacy /system/bin/hciattach -n /dev/ttyHS0 texas_new 3000000
    user root
    # changing user to root from bluetooth is a potential security issue
    group bluetooth net_bt_admin misc
    disabled
    oneshot

service wlan_loader /system/bin/wlan_loader -i /etc/wifi/tiwlan.ini -f /etc/wifi/tiwlan_firmware.bin -e /data/etc/wifi/fw
    disabled
    oneshot

service dhcp-service /system/bin/netcfg tiwlan0 dhcp
    oneshot

service ifcfg_up /system/bin/ifconfig tiwlan0 up
    disabled
    oneshot

service wpa_supplicant /system/bin/wpa_supplicant -Dtiwlan0 -itiwlan0 -c/data/misc/wifi/wpa_supplicant.conf -dd
    socket wpa_tiwlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_tiwlan0 /system/bin/dhcpcd -BKL -d tiwlan0
    disabled
    oneshot

service dhcpcd /system/bin/dhcpcd -BKL -d tiwlan0
    disabled
    oneshot

# Needed for AKM8973 support
on early-init
    device /dev/akm8975_aot 0660 compass system
    device /dev/akm8975_dev 0660 compass system


